:root{

    --primary:rgb(40, 35, 90);
    --activeDay:rgb(54, 112, 54);
    
}
*{
    padding: 0 ;
    margin:0;

}
body{

    min-height: 100vh;
    width: 100%;
   background:white;
}
.sideNav{

    height:100vh;
    width: 14.5%;
    position: absolute;
    left: 0.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

.sideNav .cells{

    width:70%;
    height: 20%;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid ;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: var(--primary);
    border-width: 1.2px;font-size: 22px;
}

#cellOne{

    background-image: url('images/fact.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 
}    

.container{
    height: 100vh;
    width: 85%;
    position: absolute;
    right: 0;
    backdrop-filter: blur(30px);
    background: var(--primary);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    display: grid;
    grid-template-columns:repeat(10,10%);
    grid-template-rows: repeat(5,20%);
    box-shadow: 1px 1px 10px black;

}
#notificationIcon{

    color: white;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 9px;
    height: 20%;
    width: 20%;
    margin-top:30px;
    position: absolute;
    right: 0;
}
#userIcon{

    color: white;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 9px;
    height: 20%;
    width: 20%;
    margin-top:30px;
    margin-left: 5px;
    position: absolute;
    left: 0;
}
.searchBar{

    background: white;
    grid-column-start:1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height:30%;
    width: 90%;
    margin-top: 20px;
    margin-left: 2%;
    
}

.searchBar input{
    height: 100%;
    width: 85%;
    border: none;
}

/*storage section style*/

.storageSection{
    background: transparent;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 8;
    border-radius: 20px;
    height: 100%;
    width: 90%;
    margin-left: 2%;
    display: flex;
    align-items:baseline;
    justify-content: space-evenly;
}

.storageSection .storageOptions{

    height:45%;
    background: rgb(255, 255, 255);
    width: 30%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px black;
}

.storageSection .storageOptions img{

  height: 80%;
  width: 20%;

    
}
.storageSection .storageOptions .textDiv{

    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    justify-content: center;
      
  }

  .storageSection .storageOptions .textDiv h4{
     color: var(--primary);
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }

  .storageSection .storageOptions .textDiv p{
   
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }

  /*styling right panel*/

  .rightPanel{

    background: white;
    grid-column-start: 8;
    grid-column-end: 11;
    width:  90%;

    grid-row-start: 2;
    grid-row-end: 6;
    height: 95%;
    border-radius: 20px;

    display: grid;
    grid-template-columns:repeat(5,20%);
    grid-template-rows: repeat(10,10%);
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 10px black;
  }
  .title{
   
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title h1{

    font-size: 12px;
    text-align: center;
    color: var(--primary)
  }
  .gauge{

    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 5;
    background-image: url('images/gauge-chart.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
  }
 .percentage{
  
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-size: 25px;
 }

 .rightPanel button{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    background: rgb(197, 214, 41);
    border: none;
    border-radius: 10px;
    box-shadow: 0.8px 0.8px 10px black
 }

 /*date range styling*/


.dateRange{
    background:white;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 8;
    border-radius: 20px;
    height: 90%;
    width: 95%;
    margin-left: 2%;
    position: absolute;
    top: -20%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.dateRange select{

    position: absolute;
    right: 2%;
    top: 2%;
    background:transparent;
    border: none;
    width: 10%;
    height: 7.5%;
    border-radius: 5px;
    color: var(--primary);
    font-size: 12px;
}

.dateRange .weeklyView{
   height: 85%;
   position: absolute;
   left: 2%;
   bottom: 2%;
   display: flex;
   align-items: center;
   gap: 2px;
   padding: 2px;
   width: 95%;
}

.dateRange .weeklyView .days{
  height: 80%;
  width: 20%;
  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(172, 172, 172, 0.493);
 }

 .dateRange .weeklyView .dayCont{
    height: 20%;
    width: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 10px vlack;
   }
   .dateRange .weeklyView .uploaded{
    height:40%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   }
   #active{
    background:var(--activeDay);
    color: white;
   }

   .dateRange .title{

    position: absolute;
    top: 1%;
    height: 10%;
    width: 30%;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    color:var(--primary);
   }

   /*daily view*/

   .dailyView{
    height: 85%;
    position: absolute;
    left: 40%;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
   
 }

 .dailyView .day{

    height:100%;
    width: 100%;
    background: black;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
 }

 .dailyView .day p{

    font-size: 20px;

 }
 /*monthly view*/

 .monthlyView{
    height: 85%;
    position: absolute;
    left: 2%;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    
 }

 .monthlyView .month{

    height: 80%;
    width: 25%;
    
    background: rgba(172, 172, 172, 0.493);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
 }

 .monthlyView .month .monthName{
   font-size: 12px;
   color: rgb(0, 0, 0);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
 }

 .monthlyView .month .dataUploaded{

    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 #activeMonth{

    background: var(--activeDay);
    color: white;
 }


ion-icon{

    color:var(--primary);
    font-size: 16px;
}